* {
  font-family: "Roboto Mono", monospace;
  /* background-color: black; */
  color: white;
  margin: 0;
  box-sizing: border-box;
}

main {
  background-image: url("./background.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

main div {
  background-color: rgba(20, 20, 20, 0.692);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 16px;
}

h1 {
  font-size: 2em;
}
p,
h1 {
  margin-bottom: 32px;
  /* background-color: rgb(4, 0, 255);
  padding: 8px; */
  text-align: center;
}
