* {
  font-family: "Roboto Mono", monospace;
  background-color: black;
  color: white;
  margin: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 16px;
}

h1 {
  margin-bottom: 32px;
  font-size: 2em;
}
p {
  text-align: center;
}
